<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">Nodepop</a></h1>
    </header>

    <main>
      <section class="error">
        <h2><%= error.status %></h2>
        <h3><%= message %></h3>
      </section>
    </main>
  </body>
</html>
