* {
  min-width: 0;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

img {
  max-width: 500px;
}
